{% extends "base.html" %}

{% block content %}
<h1>Оценка заявки</h1>
{% if current_user.is_authenticated %}
{% endif %}
{% for item in projects %}
{% if item.is_confirmed %}
<div class="col-md6 border rounded">
    <a href="/viewing_project/{{ item.id }}" class="text-decoration-none text-reset"><h2>{{item.heading}}</h2></a>
    <!--<div>
        <h5>{{item.content}}</h5>
    </div>-->
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% endif %}
</div>
<br>
{% endfor %}
{% endblock %}